body {
  margin: 0;
  /* overflow-y: scroll; */
  /* font-family: 'Roboto Mono', monospace; */
  font-family: 'Noto Sans KR', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
} */
